@import "field"
@import "start"

*
  box-sizing: border-box
  margin: 0
  padding: 0
  border: 0

#main
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100vh
  width: 100vw
  background-image: url("../img/dirt.jpg")

.board
  display: grid
  grid-template-columns: repeat(15, 1fr)
  grid-template-rows: repeat(15, 1fr)
  grid-gap: 0
  background-image: url("../img/grass.png")
  background-repeat: repeat
  background-size: contain
  border-radius: 5%
  border-image: url("../img/stone.jpg") 28 / 16px / 0 round
  border-width: 28px
  border-style: solid
  height: 80vh
  width: 80vh
  @media (orientation: portrait)
    height: 80vw
    width: 80vw

.score
  position: absolute
  top: 2vh
  left: 3vw
  font-size: 8rem
  font-weight: 900
  background-image: url("../img/stone.jpg")
  background-clip: text
  -webkit-background-clip: text
  -webkit-text-stroke: 1px #5d6975
  color: transparent
